<!-- views/hello.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>나의 항해99 미니 블로그</title>
  </head>

  <body>
      곧 블로그로 이동됩니다..
    <script>
      window.location.replace("/articles");
    </script>
  </body>
</html>